/* start variables */
:root{
	--main-color:#5CD2B9;
	--second-color:#F9F9F9;
} 
/* end variables */

/* start global rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* padding: 0;
    margin: 0; */
}
html {
    scroll-behavior: smooth;
}
body{
    font-family: "work sans", sans-serif;
	  background-color: black; 
}
ul{
    list-style: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
    width: 750px;
    }
}
  /* Medium */
@media (min-width: 992px) {
    .container {
    width: 970px;
    } 
}
  /* Large */
@media (min-width: 1200px) {
    .container {
    width: 1170px;
    } 
} 
/* end global rules */
/* start header */
header {
    
    left: 0;
    width: 100%;
    z-index: 2;
  }
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
  }
  
  header .logo img {
    height: 40px;
  }
  header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  header nav .toggle-menu {
    color: white;
    font-size: 22px;
  }
  @media (min-width: 768px) {
    header nav .toggle-menu {
      display: none;
    }
  }
  header nav ul {
    display: flex;
  }
  @media (max-width: 767px) {
    header nav ul {
      display: none;
    }
    header nav .toggle-menu:hover + ul {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: rgb(0 0 0 / 50%);
    }
    header nav ul li a {
      padding: 15px !important;
    }
  }
  header nav ul li a {
    padding: 40px 10px;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    position: relative;
    z-index: 2;
  }
  
  header nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
  }
  header nav .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
  }
  header nav .form i {
    color: white;
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }

/* start landing */
.landing{
    background-image: url(../images/portrait.png), linear-gradient(to right, #0c0c0c 30%,#203c36);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    opacity: 1; 
}

  h5{
    color: var(--main-color);
    font-size: 14px;
    padding-top: 50px;
    letter-spacing:.5em ;
} 
.container .intro-text h1{
    font-size: 75px;
    line-height: 1em;
    letter-spacing:1 ;
    color: #f9f9f9;
    transition: .5s;
    position: relative;
} 
.container .intro-text h1::after{
    content: "";
    position: absolute;
    width:100px;
    height: 3px;
    background-color: var(--main-color);
    left: 0;
    bottom: -20px;
} 
.container .intro-text h1 span{
    color: var(--main-color);
} 
.container .intro-text p{
    color: #aaaaaa;
    width: 60%;
} 
.landing .btn{
    display: flex;
    align-items: center;
    margin-top: 30px;
} 


.landing .btn .btn-text{
    font-size: 18px;
} 
.btn-text p{
    color: var(--main-color);
    font-size: 20px;
}
.landing .btn .btn-text h3{
    font-family: "Poppins", Sans-serif;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 4px;
    color: #f9f9f9;
    margin-bottom: 10px;
    border-bottom: 1px solid #2f2f2f;
    padding-bottom: 3px;
} 

.landing .btn .icon {
    padding: 7px 15px 0px 19px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--main-color);
    position: relative;
    box-shadow: 0 0 25px var(--main-color);
    margin-right: 15px;
}
.landing .btn .icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f9f9f9;
    font-size: 21px;
}  
/* end landing */
/* start services */
.services{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:70px 100px;
}
@media (max-width:767px) {
  .services{
    flex-direction: column;
  }
  .services .text-content{
    margin-bottom: 30px;
  }
}
.services img{
  width: 40%;
}
.services .text-content{
  width: 55%;

}
.services  h1{
  text-transform: capitalize;
  color: #f9f9f9;
  position: relative;
  font-size: 45px;
}
.services .text-content h1::after{
  content: "";
  position: absolute;
  width:100px;
  height: 3px;
  background-color: var(--main-color);
  left: 0;
  bottom: -10px;
} 
.services .text-content h1 span{
  color: var(--main-color);
}

.services .text-content p{
  width: 70%;
  color: #aaaaaa;
  margin: 20px;
}
.text-content button{
  background-color: var(--main-color);
  padding: 10px 15px;
  color: #F9F9F9;
  border: none;
  transition: .5s;
  text-transform: uppercase;
}
.text-content button:hover{
  background-color: black;
  border: 1px solid var(--main-color);
  cursor: pointer;
  color: #F9F9F9;
} 
.services .img-content{
  display: flex;
  width: 70%;
  text-align: center;
}
.services .img-content:hover{
  .left-section{
    transform: translateY(15px);
  }
  .right-section{
    transform: translateY(-15px);
  }
}
.services .img-content h2{
  color: #F9F9F9;
  text-align: center;
}
.services .img-content p{
  color: #aaaaaa;
  text-align: center;
}
.services .img-content .right-section{
  transition: .5s;
}
.brand,
.ui-ux, 
.web-design, 
.video-mark{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(53, 50, 50);
  margin: 10px;
  padding: 10px 20px;
  transition: .9s;
}
.brand,
.video-mark {
  background-color: #0c0c0c;
  border: 0px solid #f5f5f5;
}

.left-section{
  transition: .5s;
  transform: translateY(-30px);
  
}
.ui-ux,
.web-design{
  background: linear-gradient(to top, #203c36, black);
}
/* end services */
/* start about */
.about{
  height: fit-content;
  background-color: #0c0c0c;
  display: flex;
  justify-content: center;
  padding: 50px 100px 0 100px;
}
.about .img-content{
  width: 30%;
}

.about .img-content img{
  width: 100%;
  height: 100vh;
}
.about .text-content{
  width: 70%;
}
.about .text-content h1{
  font-size: 3.5rem;
  width: 90%;
  text-transform: capitalize;
  color: #F9F9F9;
  position: relative;
}
.about .text-content h1::after{
  position: absolute;
  content:"" ;
  width:100px;
  height: 3px;
  background-color: var(--main-color);
  left: 0;
  bottom: -10px;
}
.about .text-content h1 span{
  color: var(--main-color);
}
.about .text-content p{
  width: 80%;
  color: #aaaaaa;
}
.footer{
  display: flex;
  margin-top: 10px;
  width: 80%;
}
.footer .clean-code,
.footer .modern-design{
  display: flex;
}
.footer .clean-code .img,
.footer .modern-design .img{
  width: 30%;
}
.footer .clean-code .img img,
.footer .modern-design .img img{
  width: 100%;
}

.footer h3{
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #F9F9F9;
}
.footer.text-content p{
  margin-top: 0;
  width: 70%;
}
.footer .img-content {
  width: 20%;
}

/* end about */
/* start section3 */
.section3{
  background-image: linear-gradient(to right, #1c342f, black), url(../images/1.jpg);
  background-attachment: fixed;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  overflow-y: hidden;
  padding: 20px 0;
}
.section3 .container{
  width: 70%;
  margin: auto;
  display: flex;
}
.section3 .container img{
  width: 30%;
}
.section3 .container span{
  color: #5ed7bd;
}
.section3 .container p{
  color: #aaaaaa;
}
.section3 > img{
  position: absolute;
  width: 70%;
  right: 0;
  opacity: .3;
  bottom: -100px;
}
/* end section3 */
/* start section4 */
.section4 .container{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}
.section4 .container .content{
  display: flex;
  margin-bottom: 15px;
}
.section4 .container .content .text-content{
  width: 70%;
  
}
.section4 .container .content .text-content h1{
  font-size: 3.5rem;
  width: 90%;
  text-transform: capitalize;
  color: #F9F9F9;
  position: relative;
}
.section4 .container .content .text-content h1::after{
  position: absolute;
  content:"" ;
  width:100px;
  height: 3px;
  background-color: var(--main-color);
  left: 0;
  bottom: -10px;
}
.section4 .container .content .text-content h1 span{
  color: var(--main-color);
}
.section4 .container .content .text-content p{
  color: #aaaaaa;
  width: 85%;
  position: relative; 
}
.section4 .container .content .text-content p i{
  color: #aaaaaa;
  position: absolute;
  transform: translateX(-40px);
  font-size: 20px;
  margin-left: 20px;
}
.content img{
  width: 32%;
  transform: translate(-23px, 60PX);
  height: 50vh;
  
}
.section4 .main-par{
  margin: 20px 0;
  color: #fff5ff;
  width: 95%;
}
.section4 .img-content img{
  width: 32.1%;
}
.section4 .img-content{
  display: flex;
}
.section4 i{
  color: var(--main-color);
  margin-right: 10px;
  
}
/* end section4 */
/* start section5 */
.section5{
  background-image:linear-gradient(to left, #1c342f, black);
  padding: 30px 0;
  overflow: hidden;
  position: relative;
}
.section5 .container img{
  width: 20%;
  filter: grayscale(100%);
  transition: .5s;
}
.section5:hover{
  .container img{
    filter: grayscale(0);
  }
}
.section5 .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: auto;
}
.section5 > img{
  position: absolute;
  bottom: -400px;
  left: 0;
  opacity: calc(.3);
  width: 134%;
  height: 100vh;
}
/* end section5 */
/* start section6 */
.section6 .container{
  display: flex;
  width: 90%;
  margin: auto;
  gap: 15px;
}
.section6 .left-sec,
.section6 .right-sec{
  width: 50%;
}
.section6 .right-sec{
  margin-top: 100px;
}
.section6 .left-sec h1{
  font-size: 2.5rem;
  width: 100%;
  text-transform: capitalize;
  color: #F9F9F9;
}
.section6 .left-sec h1 span{
  color: var(--main-color);
}
.section6 img{
  width: 100%;
}
.section6 .left-sec .img-content,
.section6 .right-sec .img-content{
  margin-top: 90px;
  width: 100%;
  position: relative;
}
.section6 .left-sec .img-content img,
.section6 .right-sec .img-content img{
  width: 100%;
}
.section6 .left-sec .img-content i,
.section6 .right-sec .img-content i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 100;
  font-size: 3rem;
}
.section6 .right-sec .text-content .content p{
  position: relative;
  width: 100%;
  
}
.section6 .right-sec .text-content .content p i{
  position: absolute;
  left: -30px;
  bottom: 0px;
}
.section6 .right-sec .text-content{
  margin-left: 15px;
}
.section6 .right-sec{
  transform: translateY(20px);

}
.section6 .right-sec p{
  font-size: .9rem;
  color: #aaaaaa;
  margin: 10px  20px ;
  font-weight: 500;
  line-height: 1.5;
    margin-top: 20px;
}
.section6 .right-sec i{
  font-size: 1.5rem;
  color: var(--main-color);
  margin-right: 5px;
  transition: .5s;

}
.section6 .right-sec .img-content{
  transition: .5s;
  transform: translateY(40px);
}
.section6 .img-content:hover{
  i{
    cursor: pointer;
    color: var(--main-color);
  }
}

/* end section6 */
/* start section7 */
.section7{
  height: 110vh;
  background-image: url(../images/Bg-1.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 150px;
  background-attachment: fixed;

}
.section7 .text-content h5{
  text-align: center;
}
.section7 .text-content h1{
  text-align: center;
  font-size: 2.7rem;
  width: 100%;
  text-transform: capitalize;
  color: #F9F9F9;
  position: relative;
}
.section7 .text-content h1::after{
  position: absolute;
  content:"" ;
  width:100px;
  height: 3px;
  background-color: var(--main-color);
  left: 44%;
  bottom: -10px;
}

.section7 .text-content p{
  width: 70%;
  margin: auto;
  color: #aaaaaa;
  margin-bottom: 10px;
}
.section7 .img-content{
  
  display: flex;
  flex-wrap: wrap;
}
.section7 .img-content .container{
  background-color: #151515;
  width: 45%;
  margin: 5px 10px 10px 30px;
  display: flex;
}
.section7 .img-content .container img{
  width: 40%;
  height: 85%;
  transform: translateY(-20PX);
  filter: grayscale(100%);
  transition: .5s;
}
.section7 .img-content .container .text{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.section7 .img-content .container .text h3{
  font-size: 1.5rem;
  color: #F9F9F9;
  margin-bottom: -30px;
}
.section7 .img-content .container .text h6{
  font-size: 1rem;
  color: var(--main-color);

}

.section7 .img-content .container p{
  color: #f1f1f1;
  font-size: .9rem;
  margin-bottom: 30px;
  width: 100%;
}
.section7 .img-content .container i{
  color: var(--main-color);
  margin-right: 10px;
  transition: .3s;

}
.section7 .img-content .container i:hover{
  color: white;
  cursor: pointer;
}
.section7 .img-content .container:hover{
  img{
    filter: grayscale(50%);
  }
}
/* end section7 */


/* start */
.section8 .text-content,
.section10 .text-content{
  text-align: center;
  margin-bottom: 20px;
}
.section8 .text-content h1,
.section10 .text-content h1{
  color: #f9f9f9;
  width: 100%;
  font-size: 2.7rem;
  text-transform: capitalize;
  position: relative;
  text-align: center;
}
.section8 .text-content h1 span,
.section10 .text-content h1 span{
  color: var(--main-color);
}
.section8 .text-content h5,
.section10 .text-content h5{
  text-align: center;
}
.section8 .text-content h1::after,
.section10 .text-content h1::after{
  content: "";
  width: 100px;
  height: 2px;
  background-color: var(--main-color);
  position: absolute;
  bottom: -10px;
  left: 44%;
}
.section8 .text-content p,
.section10 .text-content p{
  color: #aaaaaa;
  width: 70%;
  margin: 0 auto;
}
.section8 table{
  width: 85%;
  margin-left: 90px;

}
.section8 table tr td img{
  width: 100%;
  margin: 5px ;
  
}

/* end  section8*/
/* start section9 */
.section9{
  background: url(../images/adadad.jpg);
  background-blend-mode:screen ;
  background-size: cover;
  background-position: center;
  background-color: #0e0e0e;
  display: flex;
  height: 100vh;
  background-attachment: fixed;
  padding: 50px 60px;
  
}
.section9 .text-content h1{
  font-size: 2.5rem;
  width: 80%;
  text-transform: capitalize;
  color: #F9F9F9;
  position: relative;
}
.section9 .text-content h1::after{
  position: absolute;
  content: "";
  width: 100px;
  height: 3px;
  background-color: var(--main-color);
  left: 0;
  bottom: -10px;
}
.text-content h1 span{
  color: var(--main-color);
}
.text-content p{
  color: white;
  margin-top: 50px;
  width: 80%;
}
.section9 .content{
  background-color: rgba(0, 0, 0, .711);
  padding: 25px;
  margin-left: 20px;
  width: fit-content;
  border-radius: 5px;
  position: relative;
  height: 50%;
  margin-top: 18%;
} 

.section9 .content p{
  color: white;
  font-size: .7rem;
  margin-bottom: 20px;
  width: 80%;
}
.section9 .text-content button{
  margin-top: 60px;
}
.section9 .text-content button:hover{
  color: white;
  background-color: transparent;
}
.section9 .content i{
  position: absolute;
  bottom: 40px;
  right: 20px;
  color: var(--main-color);
  font-size: 40px;
}
.profile{
  display: flex;
  width: 60%;
  margin-top: -5px;
}
.profile h3{
  color: white;
  font-size: 1rem;
  margin-bottom: 5px;
  height: fit-content;
}
.profile h6{
  color: var(--main-color);
  font-size: .6rem;
}
.profile img{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-left: 20px;
  transform: translate(-23px, 18PX);
}

/* end section9 */

/* start section10 */
.section10 .container img{
  width: 90%;

}
.section10 .img-content{
  display: flex;

}
.section10 .img-content h2{
  color: var(--main-color);
  width: 90%;
  font-size: 1.3rem;
  text-transform: capitalize;

}
.section10 .img-content p{
  color: #fff5ff;
  font-size: .5rem;
    width: 90%;

}
.section10 .img-content .icons{
  display: flex;
}
.section10 .img-content .icons i{
  color: var(--main-color);
  margin-right: 5px;
}

/* end section10 */
/* start section11 */
.section11{
  display: flex;
  padding: 40px 60px;
  gap:40px;
}
.section11 form{
  border: 1px solid var(--main-color);
  width: 90%;
  padding: 10px;
  height: fit-content;
  margin-right: 10px;
  height: 80vh;
  margin-top: 80px;
}
.section11 form input{
  width: 95%;
  outline: none;
  border: 1px solid var(--main-color);
  background: transparent;
  height: 40px;
  margin-left: 10px;
  color: white;
  padding: 5px;
  margin-bottom: 40px;
}
.section11 h2{
  font-size: .8rem;
  color: var(--main-color);
}
#Message{
  height: 100px;
}
.section11 form button{
  width: 95%;
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 10px 0;
  margin: 10px;
}
.section11 .text-content h1{
  font-size: 2.5rem;
  width: 90%;
  text-transform: capitalize;
  color: rgb(249, 249, 249);
  position: relative;
}
.section11 .text-content h1::after{
  position: absolute;
  content: "";
  width: 100px;
  height: 3px;
  background-color: var(--main-color);
  left: 0;
  bottom: -10px;
}
.section11 .text-content p{
  font-size: .8rem;
  color: #aaaaaa;

}
.section11 .text-content .icons{
  display: flex;
  gap: 15px;
}
.section11 .text-content .icons h3{
  font-size: .9rem;
  color: white;
  margin-top: 2px;
}
.section11 .text-content .icons h6{
  font-size: .9rem;
  margin-left: 0;
  color: var(--main-color);
}
.section11 .text-content .icons i{
  font-size: 2rem;
  color: var(--main-color);
}


/* end section11 */
/* start section footer */
.footer{
  height: 88vh;
  width:100%;
  background:radial-gradient(circle at center, #0f221e, #000000 100%) ;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .container{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.footer .container ul{
  list-style: none;
  DISPLAY: flex;
  TEXT-ALIGN: center;
  JUSTIFY-CONTENT: center;
  margin: 5px;
}
.footer .container ul li{
  margin: 0 10px;
}
.footer .container ul li a{
  color: var(--main-color);
  text-decoration: none;
}
.footer .container p{
  color: #aaaaaa;
  font-size: .9rem;
  width: 66%;
  text-align: center;
  transform: translate(142px, 22px);
}
.footer .container .links{
  text-align: center;
  margin-top: 10px;
}
.footer .container .links i{
  color: var(--main-color);
  font-size: 1.2rem;
  margin: 30px 10px;
}